/* WordCSS
A CSS file for words.
Made by the Freakybob Team.
Please give credit! <3
- freakybobsite@proton.me or @freakybob.site on bluesky */
* {
    font-family: "Parkinsans", sans-serif;
}
.word_listed, .sound {
    display: inline;
}
body {
    background-color: black;
}
h1, h2, small, h3, footer, header {
    color: white;
}